# Ignore any newly generated .mat and *.mrc files so that only source files are tracked
*.mat
*.mrc
*.dat

# Ignore any temporary files
*.asv

# Ignore main script file since it changes for each new database / parameter
script/cryo3d.m